@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Roboto", "Outfit", sans-serif;
  --color-primary-start: theme('colors.blue.500');
  --color-primary-end: theme('colors.purple.600');
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}